body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.logo-container {
    padding: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;  /* Hace los logos circulares */
    margin: 10px;        /* Espaciado entre logos */
    transition: transform 0.3s ease; /* Efecto al hacer hover */
}

.logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
}
