body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #F0F8FF; /* Alice Blue, un fondo claro y suave */
}

h1 {
    color: #FF6347; /* Tomate, para el título, un color cálido y atractivo */
    margin: 20px 0;
}

.logo-container {
    padding: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;  /* Hace los logos circulares */
    margin: 10px;        /* Espaciado entre logos */
    transition: transform 0.3s ease; /* Efecto al hacer hover */
}

.logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
    cursor: pointer; /* Cambia el ícono al pasar el mouse para indicar clickeabilidad */
}
